body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  min-width: 320px;
  font-size: 16px;
  color: #3f3f3f;
  font-weight: 400;
  background-color: #faf9f7;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

@import './blocks/container.scss';
@import './blocks/forms.scss';
@import './blocks/helpers.scss';
